{{!-- Show blogposts created by logged in user --}}
{{!-- Have option to add a new blogpost --}}

{{log this}}
<a href="./blogPost.handlebars">
  <div class="card">
    {{#if posts.length}}
    {{#each posts}}
    <div class="card-content">
      <p class="title">
        {{this.title}}, posted on {{formatDate this.createdAt}}
      </p>
    </div>
    {{/each}}
    {{else}}
    <p style="text-align: center">No posts yet.</p>
    {{/if}}
  </div>
</a>

<div class="center">
  <button class="button"><i class="fa-solid fa-user-plus"></i>New Blog Post</button>
</div>