{{!-- Show blogposts created by logged in user --}}
{{!-- Have option to add a new blogpost --}}

{{log this}}

<div class="card">
  {{#if posts.length}}
  {{#each posts}}
    <div class="card-content">
      <p class="title">
        {{this.title}}, posted on {{formatDate this.createdAt}}
      </p>
    </div>
  {{/each}}
  {{else}}
    <p>No posts yet.</p>
  {{/if}}
</div>

<div class="center">
  <button class="button"><i class="fa-solid fa-user-plus"></i>  Blog Post</button>
</div>
