{{!-- Show all posts with blog title, data created, and user who wrote post on this page --}}
{{log this}}
{{#each posts as |post|}}
<div>{{title}}, {{formatDate createdAt}}, {{user_id}}</div>
{{/each}}