{{!-- Show all posts with blog title, date created, and user who wrote post on this page --}}
{{log this}}

<div class="card">
    {{#each posts as |post|}}
  <div class="card-content">
    <p class="title">
      {{title}}
    </p>
    <p class="subtitle">
      Posted by @{{user.username}} on {{formatDate createdAt}}
    </p>
  </div>
  {{/each}}
</div>