* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(194, 197, 216);
    height: 100vh;
}

nav {
    background-color: rgb(173, 182, 230) !important;
}

header h1 {
    font-size: 50px;
    padding: 2rem;
}

nav a {
    font-size: 30px;
    padding: 1rem !important;
}

.card {
    background-color: rgb(194, 197, 216);
}